
.a{
    font-family:"Verdana";
    text-align: center;
    padding:50px;
}

.scoreboard{
    font-family:"Verdana";
    text-align: center;
    padding:60px;
    color:#ee0;
    background-image:url("pong.jpg");
    background-color:#000;
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
    position:relative;
}

.scoreboard h1{
    color:red;
}


.footer 
{
    font-family: sans-serif;
    font-size: 10px;
    background-color: #F1F1F1;
    text-align: center;
    padding: 10px;
}
